.nav ul{
    display: flex;
    
}
.nav ul li{
    margin-left: 20px;
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blogs{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: azure;
    width: 500px;
    border-style: solid;
    border-radius: 10px;
    padding: 40px 0;
}
.auth{
    margin-left: 120px;
    font-size: 14px;
}
.body{
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}